[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
torch = "*"
scipy = "*"
mat73 = "*"
easyocr = "*"

[dev-packages]

[requires]
python_version = "3.12"
